@page {
    size: A4 landscape;
    margin: 20mm;
}

.certificate-container {
    width: 297mm;
    height: 210mm;
    background: url("http://localhost:3000/cert1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: auto;
    padding: 20mm;
    border: 1px solid #ccc;
    position: relative;
}
