#a4-page {
    height: 215.9mm;
    width: 266.7mm;
    background: url("https://res.cloudinary.com/ddgjcyk0q/image/upload/v1718006971/ekavaya_assets/tchirwyjsg8sdxgjibsh.jpg");
    margin: auto;
    /* padding: 20mm; */
    border: 1px solid #ccc;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
