@page {
    size: A4;
    margin: 20mm;
}

#a4-page {
    width: 210mm;
    height: 297mm;
    background: url("https://res.cloudinary.com/ddgjcyk0q/image/upload/v1718006695/ekavaya_assets/s93zb3tbfq98qgtzivvj.jpg");
    margin: auto;
    padding: 20mm;
    border: 1px solid #ccc;
    background-size: cover;
    position: relative;
}
